@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

html.lock {
  overflow: hidden;
}

body {
  color: #000000;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*='__container'] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 50px;
}

@media (max-width: 1280px) {
  [class*='__container'] {
    padding: 0px 15px;
  }
}

.header {
  background-color: #444444;
  position: relative;
  border-bottom: 2px solid #4b4b4b;
}

.header__container {
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  width: 93px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
}

.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__select span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.header__country {
  margin-left: 10px;
  margin-right: 2px;
}

.header__burger {
  display: none;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 18px;
    cursor: pointer;
  }
}

.header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .menu__body {
    display: none;
    position: absolute;
    top: 16px;
    right: 18px;
    background-color: #ffffff;
    padding: 17px 38px 17px 11px;
    z-index: 2;
  }
  .menu__body.active {
    display: block;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.menu__link {
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 18px;
}

.menu__link:hover {
  color: #e0114f;
}

@media (max-width: 767.98px) {
  .menu__link {
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    text-align: start;
  }
}

.menu__close {
  display: none;
}

@media (max-width: 767.98px) {
  .menu__close {
    display: block;
    position: absolute;
    top: 11px;
    right: 11px;
  }
}

.menu__close img {
  width: 12px;
}

.choices {
  width: 95px;
}

.choices__inner {
  background-color: inherit;
  border: none;
  color: #ffffff;
  padding: 9.5px 7.5px 3.75px !important;
}

.choices.is-open .choices__inner {
  background-color: #ffffff;
  border-radius: 0;
  color: #000000;
}

.choices__item {
  font-weight: 500;
  padding-left: 15px;
}

.choices__item--choice {
  padding-left: 15px;
  width: 95px;
}

.choices__item--choice::after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  font-weight: 500;
  width: 95px !important;
  padding: 14px 0px !important;
  padding-left: 25px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px !important;
  overflow: hidden !important;
}

.choices__list--dropdown .choices__item--selectable img,
.choices__list[aria-expanded] .choices__item--selectable img {
  margin-right: 4px;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  overflow: hidden !important;
}

.choices[data-type*='select-one']::after {
  right: auto;
  top: 20px;
  left: 5px;
  border-color: #ffffff transparent transparent;
}

.first {
  margin-bottom: 50px;
}

.first__container {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .first__container {
    height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-height: 550px) and (max-width: 850px) {
  .first__container {
    height: auto;
    display: block;
  }
}

.first__bg {
  padding-bottom: 56%;
  width: 100%;
}

@media (max-width: 991.98px) {
  .first__bg {
    padding-bottom: 80%;
  }
}

@media (max-width: 767.98px) {
  .first__bg {
    margin-top: 320px;
    height: 50vh;
  }
}

@media (max-height: 550px) and (max-width: 850px) {
  .first__bg {
    height: auto;
  }
}

.first__bg img {
  width: 100%;
  height: 780px;
}

@media (max-width: 1280px) {
  .first__bg img {
    height: auto;
  }
}

.first__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .first__wrapper {
    padding: 0px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .first__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.first__content {
  height: 431px;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #444444;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 53%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 53%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
}

@media (max-width: 1280px) {
  .first__content {
    padding-top: 65px;
  }
}

@media (max-width: 767.98px) {
  .first__content {
    padding-top: 85px;
    height: 60vh;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 0% 100%);
  }
}

@media (max-height: 620px) and (max-width: 850px) {
  .first__content {
    padding-top: 50px;
  }
}

@media (max-height: 550px) and (max-width: 850px) {
  .first__content {
    height: 431px;
  }
}

.first__title {
  font-weight: 400;
  font-size: 53px;
  line-height: 58px;
  color: #ffffff;
  margin-right: 190px;
}

@media (max-width: 1280px) {
  .first__title {
    margin-right: 0;
  }
}

@media (max-width: 991.98px) {
  .first__title {
    font-size: 33px;
    line-height: 38px;
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .first__title {
    font-size: 31px;
    line-height: 34px;
  }
}

.first__button {
  margin-top: 40px;
  background: #e0114f;
  border-radius: 9.2px;
  width: 330px;
  height: 55px;
  font-weight: 500;
  font-size: 27px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (max-width: 991.98px) {
  .first__button {
    margin-top: 50px;
  }
}

@media (max-width: 767.98px) {
  .first__button {
    width: 252px;
    height: 42px;
    font-size: 20.8px;
    line-height: 18px;
  }
}

.first__button:hover {
  opacity: 0.8;
}

.first__triangle {
  height: 74px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 114% 101%, 0% 101%);
          clip-path: polygon(0% 0%, 0% 0%, 114% 101%, 0% 101%);
  -webkit-transform: translate(0, 4px);
          transform: translate(0, 4px);
  z-index: 3;
}

@media (max-width: 767.98px) {
  .first__triangle {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 250% 101%, 0% 101%);
            clip-path: polygon(0% 0%, 0% 0%, 250% 101%, 0% 101%);
  }
}

@media (max-width: 767.98px) {
  .first__pc {
    display: none;
  }
}

.first__mob {
  display: none;
}

@media (max-width: 767.98px) {
  .first__mob {
    display: block;
  }
}

.breadcrumbs {
  position: absolute;
  bottom: 2px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 50px;
  height: 100%;
}

@media (max-width: 1280px) {
  .breadcrumbs {
    left: 15px;
  }
}

.breadcrumbs__name {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
}

.breadcrumbs__arrow {
  display: none;
}

.breadcrumbs__value {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  display: none;
}

.certificates {
  margin-bottom: 96px;
}

@media (max-width: 767.98px) {
  .certificates {
    margin-bottom: 50px;
  }
}

.certificates__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 73px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .certificates__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.certificates__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 49px);
          flex: 0 1 calc(33.333% - 49px);
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1070px) {
  .certificates__item {
    min-height: 270px;
  }
}

@media (max-width: 991.98px) {
  .certificates__item {
    min-height: auto;
  }
}

.certificates__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  margin-bottom: 26px;
}

.certificates__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
}

.certificates__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.certificates__text a {
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 991.98px) {
  .certificates__text {
    margin-bottom: 22px;
  }
}

.certificates__button {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  width: 140px;
}

.certificates__button:hover {
  color: #e0114f;
}

.about {
  margin-bottom: 76px;
}

@media (max-width: 767.98px) {
  .about {
    margin-bottom: 50px;
  }
}

.about__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 34px;
}

.about__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.catalog {
  padding-bottom: 70px;
}

.catalog__top {
  margin-bottom: 50px;
}

.catalog__signature {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
}

.catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 991.98px) {
  .catalog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 26px);
          flex: 0 1 calc(50% - 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 450px;
}

.catalog__item:nth-child(1) .catalog__text {
  max-width: 471px;
}

.catalog__item:nth-child(3) .catalog__title {
  max-width: 100px;
}

@media (max-width: 991.98px) {
  .catalog__item:nth-child(3) .catalog__title {
    max-width: 300px;
  }
}

.catalog__item:nth-child(4) .catalog__title {
  max-width: 100px;
}

@media (max-width: 991.98px) {
  .catalog__item:nth-child(4) .catalog__title {
    max-width: 300px;
  }
}

.catalog__item:nth-child(5) .catalog__title {
  max-width: 100px;
}

@media (max-width: 991.98px) {
  .catalog__item:nth-child(5) .catalog__title {
    max-width: 300px;
  }
}

@media (max-width: 991.98px) {
  .catalog__item {
    min-height: auto;
  }
}

.catalog__quote {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 26px);
          flex: 0 1 calc(50% - 26px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
}

@media (max-width: 991.98px) {
  .catalog__quote {
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
  }
}

.catalog__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 23px;
}

.catalog__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1050px) {
  .catalog__image img {
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .catalog__image {
    display: none;
  }
}

.modals__item {
  padding-top: 20px;
  border-style: solid;
  height: 700px;
  display: none;
  position: relative;
  margin-top: -20px;
}

@media (max-width: 991.98px) {
  .modals__item {
    height: auto;
    padding-bottom: 50px;
  }
}

.modals__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.modals__text a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.modals__close {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}

.modals__close img {
  width: 25px;
  height: 25px;
}

.modals__close_g {
  top: 25px;
}

@media (max-width: 380px) {
  .modals .certificates__title {
    font-size: 16px;
  }
}

.modals__img {
  margin-top: 50px;
}

.modals__img img {
  width: 252px;
  height: 102px;
}

.buy {
  margin-bottom: 66px;
}

.buy__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 60px;
}

@media (max-width: 767.98px) {
  .buy__title {
    margin-bottom: 50px;
  }
}

.buy__body {
  position: relative;
}

.buy__map img {
  width: 100%;
}

.buy__modal {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 25px 32px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-width: 354px;
}

@media (max-width: 390px) {
  .buy__modal {
    min-width: 100%;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.buy__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 26px;
}

.buy__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

@media (max-width: 390px) {
  .buy__buttons {
    gap: 10px;
  }
}

.buy__button {
  color: #686868;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 12px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.buy__button:hover {
  background-color: #cccccc78;
}

.contacts {
  margin-bottom: 44px;
}

.contacts__container {
  padding-bottom: 37px;
  border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 991.98px) {
  .contacts__container {
    padding-bottom: 25px;
  }
}

.contacts__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 60px;
}

@media (max-width: 767.98px) {
  .contacts__title {
    margin-bottom: 50px;
  }
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__content {
  max-width: 450px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

.contacts__item a {
  color: inherit;
}

.contacts__item a:hover {
  text-decoration: underline;
}

.contacts__item:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 991.98px) {
  .contacts__item {
    margin-bottom: 25px;
  }
}

.contacts__icon {
  margin-bottom: 7px;
}

.contacts__map {
  height: 412px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53%;
          flex: 0 1 53%;
  max-width: 618px;
  background: #d9d9d9;
  position: relative;
}

.contacts__map span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 44px;
  line-height: 26px;
  width: 300px;
}

@media (max-width: 991.98px) {
  .contacts__map {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
    height: 600px;
  }
}

.form {
  margin-bottom: 66px;
}

.form__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 60px;
}

@media (max-width: 767.98px) {
  .form__title {
    margin-bottom: 50px;
  }
}

.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  width: 420px;
  height: 64px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding-left: 14px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  padding-top: 6px;
}

.form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 767.98px) {
  .form__input {
    width: 100%;
  }
}

.form textarea {
  border: 1px solid #d2d2d2;
  padding-left: 14px;
  padding-top: 27px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  resize: none;
  width: 685px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  height: 157px;
  margin-bottom: 26px;
}

@media (max-width: 767.98px) {
  .form textarea {
    width: 100%;
  }
}

.form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form textarea::placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.form__file {
  cursor: pointer;
  width: 200px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding-left: 14px;
  color: black;
  background: #d9d9d9;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-bottom: 16px;
}

.form__file input {
  display: none;
}

.form__file:hover {
  opacity: 0.7;
}

.form button {
  width: 200px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #55bddc;
  border-radius: 4px;
}

.form button:hover {
  opacity: 0.7;
}
